{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}


<form action="/plot" method="POST" enctype="multipart/form-data">
    <div class="container col-md-4" >
        <div class="row pb-3">
            <div class="col-6">
                <input type="text" class="form-control input-group" id="plotname" name="plotname" placeholder="Plot Title"/>
            </div>
            <div class="col-6">
                <input type="file" id="filepath" name="file" class="custom-file-input" accept=".csv"/>
                <label class="custom-file-label" for="customFile">Choose .csv file</label>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-12">
                <button class="btn btn-primary btn-default btn-block" type="plot">Plot!</button>
            </div>
        </div>

    </div>
</form>


{% endblock %}