{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<!-- FILE UPLOAD -->
<div class="container mt-3 col-sm-2">
    <form action="/" method="post">
        <div class="custom-file mb-3">
          <input type="file" id="filepath" name="filepath" class="custom-file-input" />
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
        <button class="btn btn-primary btn-block" type="plot">Plot!</button>
    </form>
</div>


<!-- DISPLAYING PLOT -->
<div>
    <img src="../static/temperature.gif" alt="sine" class="mx-auto d-block" width="1000"/>
</div>


<!-- TABLE WITH ICONS -->
<table class="row justify-content-center">
    <tr>
        <td>
            <!-- Download Button -->
            <svg width="3em" height="2em" viewBox="0 0 16 16" class="bi bi-cloud-arrow-down-fill" fill="orange" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 6.854l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708z"/>
              </svg>
        </td>
        <td>
            <!-- Share Button -->
            <svg width="3em" height="2em" viewBox="0 0 16 16" class="bi bi-share-fill" fill="orange" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
              </svg>
        </td>
    </tr>
</table>









<!-- DEBUGGING -->
<center>Debugging filepath: {{ filepath }}
</center>


{% endblock %}